.index-header{
	background-color: black;
    font-family:'Lato', sans-serif !important;
    padding: 1% 2%;
}

.index-header-text{
	color: white;
	display: inline;
}

.index-header-registration{
	float:right;
}

.index-background{
	background:black;
}